[package]
name = "roughenough"
version = "0.2.0"
repository = "https://github.com/int08h/roughenough"
authors = ["Stuart Stock <stuart@int08h.com>"]
license = "Apache-2.0"
description = "A Roughtime secure time sync server written in Rust"
readme = "README.md"
keywords = ["roughtime", "cryptography", "crypto"]

[badges]
travis-ci = { repository = "int08h/roughenough", branch = "master" }

[dependencies]
mio = "0.6"
byteorder = "1"
ring = "0.12"
untrusted = "0.5"
time = "0.1"
log = "0.4"
simple_logger = "0.5"
yaml-rust = "0.3"
ctrlc = { version = "3.1", features = ["termination"] }

[dev-dependencies]
criterion = "0.2.0"

[[bench]]
name = "messages"
harness = false
