name: Build

on:
  push:
    branches: [ master, rfc ]
  pull_request:
    branches: [ master, rfc ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature: ["default", "gcpkms", "awskms"]
        toolchain: ["stable", "beta"]
    steps:
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - uses: actions/checkout@v2
    - name: Install Rust ${{ matrix.toolchain }} 
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.toolchain }}
        override: true
        profile: minimal
    - name: Build using Rust ${{ matrix.toolchain }}
      run: cargo build --verbose --features ${{ matrix.feature }} --release
    - name: Run tests using Rust ${{ matrix.toolchain }}
      run: cargo test --verbose --features ${{ matrix.feature }} --release

